body {
	background-color: #0078AD;
	color: white;
}

textarea {
	resize: none;
}

button {
	border-style: none;
	border-radius: 5px;
	background-color: #dfdfdf;
}

button:active {
	background-color: #b5b5b5;
}

div.main-container {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 820px;
}

div#elements-options {
	border-width: 0px;
}

div#elements-sortable {
	height: 73px;
	position: relative;
	margin-top: 20px;
}

div#elements-control-buttons {
	position: relative;
}

div#elements-control-buttons button {
	position: absolute;
	top: 10px;
	height: 33px;
	width: 100px;
	font-size: 16px;
}

div#elements-control-buttons button#button-element-reset-selected {
	left: 495px;
}

div#elements-control-buttons button#button-element-delete-selected {
	left: 617px;
}

div#elements-control-buttons button#button-element-reset-all {
	left: 10px;
}

div#elements-control-buttons button#button-element-delete-all {
	left: 130px;
}

div#spectrum-wrapper {
	position: relative;
	top: -75px;
	left: 5px;
}

div#container-spectrum-fg {
	position: absolute;
	width: 100px;
	top:0px;
	left: 720px;
	font-size: 26px;
}

div#container-spectrum-bg {
	position: absolute;
	width: 100px;
	top: 40px;
	left: 720px;
	font-size: 26px;
}

div.main-section {
	position: relative;
	border-style: solid;
	background-color: white;
	border-radius: 5px;
	min-height: 60px;
	float: none;
	margin: 10px 0px 0px 10px;
}

div.left-section{
	width: 700px;
	float: none;
}

div.row {
	float: none;
	width: 1200px;
	min-height: 100px;
	margin-left: auto;
	margin-right: auto;
}

div.right-section {
	float: none;
	margin: 10px 10px 10px 75px;
}

div.swatches {
	float: none;
	border-width: 0px;
	margin: 10px 10px 10px 75px;
}

div#swatches-fg {
}

li.border-hidden {
	border-width: 0px;
	margin-left: 0 !important;
	margin-right: 0 !important;
}

li.prompt-option {
	height: 20px;
	display: inline-block;
	cursor: pointer;
	padding: 2px 10px 2px 10px;
	margin: 5px;
}

li.prompt-option.single-selected {
	background: #6eac2c url(images/ui-bg_gloss-wave_50_6eac2c_500x100.png) 50% 50% repeat-x;
}

div#elements {
	background: black;
}

ul#elements-list {
	list-style-type: none;
	margin-top: 24px;
	margin-left: 24px;
	padding: 0;
}

ul#elements-list li {
	position: relative;
	margin: 0px 3px 3px 0;
}

ul#elements-list li.single-selected span{
	box-shadow: 0px -5px 2px grey;
}

div#preview {
	position: relative;
	top: 45px;
}

ul#preview-list {
	list-style: none;
	padding-left: 24px;
}

li.element-preview {
	display: inline;
	border-width: 0px;
	margin-left: 0px !important;
	margin-right: 0px !important;
	font-size: 24px;
}

li.element-preview div.handle {
	display: none;
}

div#code-output-wrapper {
	top: 70px;
}

textarea#code-output-text {
	width: 100%;
	height: 100px;
}
